$done1: #e8fff4;
$done2: #5ed9a0;
$progress1: #fff7e8;
$progress2: #d9bb5e;
$todo1: #f9e6e8;
$todo2: #fba0a8;

.header {
  .add-task-button {
    .plus {
      max-width: 60px;
      padding: 5px;
      img {
        filter: invert(100%);
        cursor: pointer;
      }
    }
    .text {
      font-size: 22px;
      margin-left: -20px;
      line-height: 1;
      cursor: pointer;
    }
  }
}
.task-parent {
  // column-count: 4;
  .task-item {
    white-space: normal;
    // display: inline-block;
    width: 100%;
    max-width: 300px;
    &.bg {
      &-done {
        background-color: $done1;
        border-color: $done2;
      }
      &-progress {
        background-color: $progress1;
        border-color: $progress2;
      }
      &-todo {
        background-color: $todo1;
        border-color: $todo2;
      }
    }
    .title-section {
      &.border {
        &-done {
          border-bottom: 1px solid $done2;
        }
        &-progress {
          border-bottom: 1px solid $progress2;
        }
        &-todo {
          border-bottom: 1px solid $todo2;
        }
      }
      .task-title {
        padding-right: 5px;
        flex: 1 1 0;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .desc-section {
      position: relative;
      .task-description {
        flex: 1 1 0;
        min-height: 110px;
        padding-right: 5px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .footer {
      .task-status {
        .status-symbol {
          display: block;
          cursor: pointer;
          font-size: 12px;
        }
      }
      .actions {
        position: relative;
        // background-color: #eee;
        height: 25px;
        flex: 14px 0 0;
        cursor: pointer;
        border-radius: 3px;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: #ffffff6b;
        }
        .action-dots {
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: var(--bs-gray);
          box-shadow:
            0px 6px 0 0px var(--bs-gray),
            0px 12px 0 0px var(--bs-gray);
          top: 4px;
          left: 5px;
        }
      }
      .action-list {
        position: absolute;
        bottom: 30px;
        right: 0px;
        background-color: rgb(255 255 255 / 50%);
        border: 1px solid #ddd;
        .action-icon {
          display: block;
          cursor: pointer;
          &.edit {
            margin-bottom: 10px;
          }
          img {
            max-width: 16px;
            display: block;
          }
        }
      }
    }
  }
}
