<div class="task-form-container p-3">
  <h4 class="modal-title px-2">
    {{ modalData.title }}
    <span
      class="badge small"
      [ngClass]="{
        'bg-success': modalData.status === 'done',
        'bg-info': modalData.status === 'progress',
        'bg-danger': modalData.status === 'todo'
      }"
      >{{ modalData.status | status }}</span
    >
  </h4>
  <hr class="hr my-2" />
  <div class="task-data" style="min-height: 150px">
    <div class="description">{{ modalData.description }}</div>
  </div>
  <div
    class="button-container d-flex align-items-center justify-content-end gap-3"
  >
    <button
      class="button modal-edit rounded-1 px-3 py-1"
      (click)="dialogRef.close({ success: true })"
    >
      Edit
    </button>
    <button
      class="button modal-cancel rounded-1 px-3 py-1"
      (click)="dialogRef.close({ success: false })"
    >
      close
    </button>
  </div>
</div>
