<div class="task-form-container p-3">
  <h4 class="modal-title px-2">{{ modalData.title }}</h4>
  <hr class="hr my-2" />
  <form class="form" [formGroup]="addTaskForm">
    <div class="title-container mb-3">
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="Task Title"
        formControlName="title"
      />
    </div>
    <div class="status-container mb-3">
      <select
        name="status"
        id="status"
        class="form-select"
        formControlName="status"
      >
        <option value="todo">To Do</option>
        <option value="progress">In Progress</option>
        <option value="done">Done</option>
      </select>
    </div>
    <div class="description-container mb-3">
      <textarea
        name="description"
        id="description"
        placeholder="Description..."
        class="form-control"
        formControlName="description"
      ></textarea>
    </div>
    <div
      class="button-container d-flex align-items-center justify-content-end gap-3"
    >
      <button
        type="button"
        class="button form-cancel rounded-1 px-3 py-1"
        (click)="cancelForm()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="button form-submit rounded-1 px-3 py-1"
        (click)="submitForm()"
      >
        {{ modalData.buttonText }}
      </button>
    </div>
  </form>
</div>
